@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #191414;
    color: #ffffff;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    height: auto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

nav h2 {
    font-size: 1.8em;
}

ul {
    display: flex;
    width: 60%;
    list-style: none;
    justify-content: space-around;
}

ul li a {
    color: #ffffff;
    transition: 0.5s;
}

ul li a:hover {
    color: #1db954;
}

/* LOGIN / REGISTRO */

main.login {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container {
    width: 30%;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.login__container h2 {
    color: #191414;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

form.form__iniciar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form.form__iniciar input {
    margin: 20px;
    border: none;
    border-bottom: 1px solid #191414;
    padding-bottom: 10px;
}

form.form__iniciar .buttons {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

form.form__iniciar .buttons a {
    color:#191414;
    font-size: 0.8em;
    transition: 0.5s;
}

form.form__iniciar .buttons a:hover {
    color: #1db954;
}

form.form__iniciar button {
    border: none;
    background-color: #191414;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

form.form__iniciar button:hover {
    transform: scale(1.05);
}

/* TIENDA Y CANCIONES */

main.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

div.title__tienda-container {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: 30%;
    justify-content: space-around;
    position: relative;
}

div.items__carrito {
    position: absolute;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    top: -12px;
    right: 40px;
}

div.title__tienda-container a span.material-symbols-outlined{
    font-size: 2.6em;
    color: #ffffff;
    transition: 0.3s;
}

div.title__tienda-container a span.material-symbols-outlined:hover {
    color: #1db954;
}

div.canciones__container {
    display: flex;
    width: 60%;
    height: 70vh;
    background-color: #ffffff;
    color: #191414;
    border-radius: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow: scroll;
    justify-content: center;
}

div.canciones {
    width: 20%;
    background-color: #1db954;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

div.canciones h2 {
    text-align: center;
    font-size: 1.4em;
}

div.canciones p {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

div.canciones p.canciones__price {
    color: #191414;
    font-size: 1.1em;
}

div.button__container {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

div.button__container form button {
    background-color: #191414;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

div.button__container form button.btn__eliminar {
    margin-top: 20px;
    background-color: crimson;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

div.button__container form button:hover {
    transform: scale(1.05);
}

/* HOME */
h3.no_canciones {
    font-size: 3em;
    margin-top: 50px;
}

/* CARRITO */

div.carrito__container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 75vh;
    background-color: #ffffff;
    color: #191414;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    justify-content: space-around;
    align-items: baseline;
}

div.canciones__carrito p{
    margin: 20px 0px 20px 0px;
}

div.canciones__carrito p.price {
    font-weight: bold;
}

div.canciones__carrito h2 {
    font-size: 1em;
}

div.canciones__carrito form button.btn__eliminar {
    margin-bottom: 20px;
    background-color: crimson;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

div.canciones__carrito form button.btn__eliminar:hover {
    transform: scale(1.05);
}

p.total__carrito {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

button.btn__compra {
    background-color: #1db954;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
    width: 150px;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 1.2em;
}

button.btn__compra:hover{
    transform: scale(1.05);
}
